.testimonials {
  padding: 100px 0;

  h2 {
    text-align: center;
    font-family: "Acme Gothic";
    font-weight: 200;
    font-size: 40px;
    margin: 0;
  }

  p {
    text-align: center;

    @include m-phone {
      padding: 0 30px;
    }

    @include sm-phone {
      padding: 0 30px;
    }
  }

  .testimonial-row {
    .marquee {
      gap: 30px;
      padding: 30px 0;
      align-items: stretch !important;

      .testimonial-card {
        width: 500px;
        padding: 30px;
        gap: 20px;
        background: white;
        border-radius: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        @include m-phone {
          width: 350px;
        }

        @include sm-phone {
          width: 350px;
        }

        .header {
          align-items: center;
          gap: 10px;

          .image-container {
            width: 70px;

            img {
              width: 100%;
              border-radius: 100px;
              border: 2px solid white;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
          }

          .customer-info {
            flex-grow: 1;

            p {
              text-align: left;
              margin: 0;
              padding: 0;

              @include m-phone {
                font-size: 13px;
              }

              @include sm-phone {
                font-size: 13px;
              }
            }
          }
        }

        .content {
          @include m-phone {
            font-size: 13px;
          }

          @include sm-phone {
            font-size: 13px;
          }
        }
      }
    }
  }
}
