footer {
  .image-header {
    background: black;
    overflow-x: hidden;

    img {
      object-position: center;
      object-fit: cover;
    }
  }

  .footer-content {
    background: $bg;
    margin-top: -50px;
    font-weight: normal;
    padding-bottom: 50px;

    .content {
      max-width: 1300px;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;
      gap: 50px;

      @include sm-desktop {
        max-width: 1100px;
      }

      @include xs-desktop {
        max-width: 900px;
        justify-content: center;
      }

      @include tablet {
        width: 100%;
        padding: 0 50px;
        justify-content: center;
      }

      @include lg-phone {
        width: 100%;
        padding: 0 50px;
        justify-content: center;
      }

      @include m-phone {
        width: 100%;
        padding: 0 50px;
        justify-content: start;

        @include sm-phone {
          width: 100%;
          padding: 0 50px;
          justify-content: start;
        }
      }

      img {
        width: 200px;

        @include lg-phone {
          margin-left: -25px;
        }

        @include m-phone {
          margin-left: -25px;
        }

        @include sm-phone {
          margin-left: -25px;
        }
      }

      .address {
        padding-left: 30px;

        @include lg-phone {
          padding-left: 0;
        }

        @include m-phone {
          padding-left: 0;
        }

        @include sm-phone {
          padding-left: 0;
        }

        p {
          margin-block: 5px;
        }
      }

      .email {
        padding-left: 30px;

        @include lg-phone {
          padding-left: 0;
        }

        @include m-phone {
          padding-left: 0;
        }

        @include sm-phone {
          padding-left: 0;
        }
      }

      .links {
        gap: 50px;

        .navlinks {
          p {
            font-size: 20px;
            font-weight: bold;
          }

          a {
            text-decoration: none;
            color: black;
          }
        }
      }

      .newsletter {
        p {
          font-weight: bold;
        }

        .input-container {
          width: 350px;

          @include m-phone {
            width: 300px;
          }

          @include sm-phone {
            width: 300px;
          }

          input {
            padding: 10px 15px;
          }
        }
        .p-button {
          border-radius: 0px;
        }
      }
    }
  }

  .copyright {
    padding: 0 0 20px 0;

    @include m-phone {
      padding: 0 20px 20px 20px;
    }

    @include sm-phone {
      padding: 0 20px 20px 20px;
    }
    p {
      text-align: center;
    }
  }
}
